{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">CRUD Contactos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'inicio' %}">Inicio</a>
                <a class="nav-item nav-link" href="{% url 'agregar' %}">Agregar</a>
            </div>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid bg-dark text-light">
        <div class="container text-center">
            <h1 class="display-4">Lista de Contactos</h1>
            <p class="lead">Aplicación para controlar el registro de los contactos junto con sus direcciones y telefonos.</p>
            <a href="{% url 'agregar' %}" class="btn btn-primary btn-lg">Agregar Contacto</a>
        </div>
    </div>

        {% block content %}

        {% endblock %}

    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>